<%- include('../partials/header') %>


<h2>This pair's details:</h2>

<h4>Brand: <%= shoe.brand %></h4>
<h4>Size: <%= shoe.size %></h4>
<h4>Color: <%= shoe.color %></h4>

<a href="/shoes/<%= shoe._id %>/edit">Edit Shoe</a>


<%- include('../partials/footer') %>
